@media (max-width: 480px){
    body {
        margin: 0 auto !important;
        padding: 0 !important;
    }
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    display: grid;
    gap: 10px;
    justify-items: center;
}


.button {
    text-align: center;
}

.painting {
    height: fit-content;
    width: fit-content;
}

img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}